body {
  padding: 0;
  margin: 0;
  padding: 10em;
}

svg {
  --size: 45px;
  height: var(--size);
  width: var(--size);
  overflow: visible;
  //background-color: rgba(0, 0, 0, 0.178);
}

.circleBg,
.line,
.line2 {
  fill: none;
}

.line,
.line2 {
  stroke: #707070;
  stroke-linecap: round;
  stroke-width: 2px;
}

.checkmark {
  .circleBg {
    fill: #45c434;
  }

  .lines {
    transform: translateX(-1.5px);
  }

  .line,
  .line2 {
    stroke: #ffffff;
  }

  .line2 {
    stroke-dasharray: 12;
    stroke-dashoffset: 6;
  }

  &.empty {

    .line,
    .line2 {
      stroke-width: 0px;
    }

    .circleBg {
      fill: none;
      stroke: #7070706c;
      stroke-width: 2px;
    }
  }
}

.cross {
  --move: calc(35% / 2);

  .line {
    transform: translateX(calc(var(--move) * -1));
  }

  .line2 {
    transform: translateX(var(--move));
  }
}

.rotate45 {
  transform: rotate(45deg);
  //background-color: red;
}

.rotate90 {
  transform: rotate(-90deg);
  //background-color: red;
}